
[package]
name = "ubl_ledger"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
tokio = { version = "1", features = ["full"] }
cid = { version = "0.11", features = ["serde-codec", "std"] }
