[package]
name = "ubl"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
base64 = "0.22"
sha2 = "0.10"
data-encoding = "2.5"

[dependencies.chrono]
version = "0.4"
default-features = false
features = ["clock"]

